<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcjz.mapper.HjmallBannerMapper" >
  <resultMap id="BaseResultMap" type="com.hcjz.pojo.HjmallBanner" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="open_type" property="openType" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hcjz.pojo.HjmallBannerWithBLOBs" extends="BaseResultMap" >
    <result column="pic_url" property="picUrl" jdbcType="LONGVARCHAR" />
    <result column="page_url" property="pageUrl" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, store_id, title, sort, addtime, is_delete, type, open_type
  </sql>
  <sql id="Blob_Column_List" >
    pic_url, page_url
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hcjz.pojo.HjmallBannerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hjmall_banner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hcjz.pojo.HjmallBannerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hjmall_banner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hjmall_banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hjmall_banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hcjz.pojo.HjmallBannerExample" >
    delete from hjmall_banner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hcjz.pojo.HjmallBannerWithBLOBs" >
    insert into hjmall_banner (id, store_id, title, 
      sort, addtime, is_delete, 
      type, open_type, pic_url, 
      page_url)
    values (#{id,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{addtime,jdbcType=INTEGER}, #{isDelete,jdbcType=SMALLINT}, 
      #{type,jdbcType=SMALLINT}, #{openType,jdbcType=VARCHAR}, #{picUrl,jdbcType=LONGVARCHAR}, 
      #{pageUrl,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hcjz.pojo.HjmallBannerWithBLOBs" >
    insert into hjmall_banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="openType != null" >
        open_type,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="pageUrl != null" >
        page_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=SMALLINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="openType != null" >
        #{openType,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="pageUrl != null" >
        #{pageUrl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hcjz.pojo.HjmallBannerExample" resultType="java.lang.Integer" >
    select count(*) from hjmall_banner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hjmall_banner
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.storeId != null" >
        store_id = #{record.storeId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.addtime != null" >
        addtime = #{record.addtime,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=SMALLINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=SMALLINT},
      </if>
      <if test="record.openType != null" >
        open_type = #{record.openType,jdbcType=VARCHAR},
      </if>
      <if test="record.picUrl != null" >
        pic_url = #{record.picUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.pageUrl != null" >
        page_url = #{record.pageUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update hjmall_banner
    set id = #{record.id,jdbcType=INTEGER},
      store_id = #{record.storeId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      addtime = #{record.addtime,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=SMALLINT},
      type = #{record.type,jdbcType=SMALLINT},
      open_type = #{record.openType,jdbcType=VARCHAR},
      pic_url = #{record.picUrl,jdbcType=LONGVARCHAR},
      page_url = #{record.pageUrl,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hjmall_banner
    set id = #{record.id,jdbcType=INTEGER},
      store_id = #{record.storeId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      addtime = #{record.addtime,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=SMALLINT},
      type = #{record.type,jdbcType=SMALLINT},
      open_type = #{record.openType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hcjz.pojo.HjmallBannerWithBLOBs" >
    update hjmall_banner
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=SMALLINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="openType != null" >
        open_type = #{openType,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="pageUrl != null" >
        page_url = #{pageUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hcjz.pojo.HjmallBannerWithBLOBs" >
    update hjmall_banner
    set store_id = #{storeId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=SMALLINT},
      type = #{type,jdbcType=SMALLINT},
      open_type = #{openType,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=LONGVARCHAR},
      page_url = #{pageUrl,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hcjz.pojo.HjmallBanner" >
    update hjmall_banner
    set store_id = #{storeId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=SMALLINT},
      type = #{type,jdbcType=SMALLINT},
      open_type = #{openType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>